<div class="reset-email-form-section">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Email Reset</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="resetEmailForm" (ngSubmit)="sendEmail()">
                        <div class="row">
                            <div class="col-md-12 text-md-center">
                                 <p>Please Provide the email to the account you would like to reset your password for</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <input type="text" id="email" class="form-control" [formControlName]="'email'" name="email" required
                                    autofocus>
                                <span *ngIf="!resetEmailForm.get('email').valid && resetEmailForm.get('email').touched">
                                    Please provide a valid email
                                </span>                                    
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="login-failed" *ngIf='this.isError'>
                                <p class="login-failed-text">Failed to send an email to the address provided</p>   
                        </div>
                        <div class="login-failed" [ngStyle]="{'background-color': 'green'}" *ngIf="this.registerSuccessMessage?.length > 0">
                            <p class="register-success-text">{{registerSuccessMessage}}</p>   
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-md-center">
                                <button type="submit" class="login">
                                    Reset Password
                                </button>    
                            </div>
                        </div>
                   
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
