<p>Total Rides: {{myRides.length}}</p>
<button (click)="toggle('ride')">By ride</button>
<button (click)="toggle('park')">By Park</button>
<button (click)="toggle('visit')">By visit</button>
<ng-container *ngIf="ride">
    <app-my-ride-list-by-ride [myRides] = myRides></app-my-ride-list-by-ride>
</ng-container>
<ng-container *ngIf="park">
    <app-my-ride-list-by-park [myRides] = myRides [myParks] = myParks></app-my-ride-list-by-park>
</ng-container>
<ng-container *ngIf="visit">

</ng-container>