.my-park-form-section {
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
.my-rides-form-section {
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}