<div class="reset-form-section">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="text-align: center"><h4>Login</h4></div>
                <div class="card-body">
                    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                        <div class="form-group row">
                            <label for="newPassword" class="col-md-4 col-form-label text-md-right">New Password</label>
                            <div class="col-md-6">
                                <input type="text" id="newPassword" class="form-control" [formControlName]="'newPassword'" name="newPassword" required
                                    autofocus>
                                <span *ngIf="!resetForm.get('newPassword').valid && resetForm.get('newPassword').touched">
                                    Please provide a valid password
                                </span>                                    
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="confirmPassword" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                            <div class="col-md-6">
                                <input type="password" id="confirmPassword" class="form-control" [formControlName]="'confirmPassword'" name="confirmPassword" required>
                                <span *ngIf="!resetForm.get('confirmPassword').valid && resetForm.get('confirmPassword').touched">
                                    Passwords Must Match
                                </span>                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-md-center">
                                <button type="submit" class="reset">
                                    Reset Password
                                </button>    
                            </div>
                        </div>
                        <div class="reset-failed" *ngIf='this.isError'>
                                <p class="login-failed-text">Reset Failed. Please try another password.</p>   
                        </div>
                        <div class="login-failed" [ngStyle]="{'background-color': 'green'}" *ngIf="this.registerSuccessMessage?.length > 0">
                            <p class="register-success-text">{{registerSuccessMessage}}</p>   
                        </div>                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
